.background {
    background-image: url('/images/dodge-durango_100896836.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 140%;
    width: 100%;
    filter: blur(8px);
}
