div.container{
    position: relative;
    font-size: 13.25px;
    font-weight: bold;
    color:#002752;
    margin-bottom: 100px;
    width: 50%;
    padding: 20px;
}
span.alert{
    position: absolute;
    font-size: 15px;
    left: 30%;
    top:1%
}
fieldset{
    border:2px solid darkgray;
    border-radius: 10px;
    line-height: 10px
}
fieldset span{
    line-height: 20px;
}
#buttonDiv{
    display: flex;
    justify-content: flex-end;
    gap:15px;
    margin-top:20px
}
#buttonDiv input[type="button"]{
    border:2px solid blue;
    color: darkblue
}
#buttonDiv input[type="submit"]{
    border: 2px solid black;
    color: white
}
