div.container{
    position: relative;
    font-size: 13.25px;
    color: #002a80;
    font-weight: bold;
    margin-bottom: 70px;
    width: 50%;
    padding: 20px;
}
span.alert{
    font-size: 15px;
    position: absolute;
    top:1%;
    left: 20%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    /*font-weight: bold;*/
}
fieldset{
    border: 1px solid darkgrey;
    border-radius: 10px;
    line-height: 10px
}
span{
    line-height: 20px;
}


div#buttonsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px
}
div#buttonsDiv input[type="button"]{
    border:2px solid blue;
    color: darkblue;
    margin-right: 15px
}
div#buttonsDiv input[type="submit"]{
    border: 2px solid black;
    color: snow;
}
